.heading
{
    margin-top: 40px;
}

.button
{
    margin-left:  40px;
}



.body
{
    background-image: linear-gradient(to top,#71C562,rgb(238, 239, 238));
}

.navb
{
    text-decoration: none;
    color: black;
    font-size: x-large;
    margin-top: -25px;
}